spaCyWork/__pycache__/tools.cpython-312.pyc
spaCyWork/Data/SpacyData/DocBins/2011_01_25_tv_be-in-the-know-todays-political-bullet-points-159
spaCyWork/Data/SpacyData/DocBins/2011_01_25_tv_behind-the-scenes-with-jkusa
spaCyWork/Data/SpacyData/DocBins/2011_01_25_tv_sen-webb-running-in-2012
spaCyWork/Data/SpacyData/DocBins/2011_01_26_tv_be-in-the-know-todays-political-bullet-points-160
spaCyWork/Data/SpacyData/DocBins/2011_01_26_tv_what-do-you-think-of-michele-bachmann
spaCyWork/Data/SpacyData/DocBins/2011_01_27_tv_be-in-the-know-todays-political-bullet-points-161
spaCyWork/Data/SpacyData/DocBins/2011_01_27_tv_sotu-over-the-shoulder-distractions
spaCyWork/Data/SpacyData/DocBins/2011_01_27_tv_the-exceptionalism-attack
spaCyWork/Data/SpacyData/DocBins/2011_01_28_tv_be-in-the-know-todays-political-bullet-points-162
spaCyWork/Data/SpacyData/DocBins/2011_01_31_tv_be-in-the-know-todays-political-bullet-points-163
spaCyWork/Data/SpacyData/Vocab/key2row
spaCyWork/Data/SpacyData/Vocab/lookups.bin
spaCyWork/Data/SpacyData/Vocab/strings.json
spaCyWork/Data/SpacyData/Vocab/vectors
spaCyWork/Data/SpacyData/Vocab/vectors.cfg
spaCyWork/Data/allArticles.txt
